body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: white;
}


#app-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1E1E26;
    color: #FFFFFF;
    border-radius: 8px;
}

.custom-input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #8B5FBF;
    border-radius: 4px;
    background-color: #2E2E38;
    color: #FFFFFF;
}


#result-text {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #8B5FBF;
    border-radius: 4px;
    background-color: #2E2E38;
    color: #FFFFFF;
    overflow-y: scroll;
    resize: none;
}

button {
    padding: 10px;
    background-color: #8B5FBF;
    color: #1E1E26;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #674C9F;
}



/* 側欄 */
#sidebar {
    float: right;
    max-width: 300px;
    padding: 20px;
    background-color: #1E1E26;
    border-radius: 10px;
    margin-right: 30px;
}

#author-info {
    text-align: center;
    display: flex;
    align-items: center;
}

#author-info img {
    width: 70px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 30px;
}

#sidebar p {
    color: #FFFFFF;
    margin-bottom: 10px;
}

#sidebar ol {
    color: #FFFFFF;
    margin-bottom: 10px;
    padding-left: 20px;
}

#sidebar a {
    color: #9F7AEA;
}

#sidebar a:hover {
    color: #7C4BCC;
}



#icon {
    border-radius: 50%;
    overflow: hidden;
}
